<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://user-images.githubusercontent.com/112431459/235795889-fffd29e7-c969-4101-bdbe-0c4f40f90008.PNG" height="200px" alt="">
  </div>

  <div class="big-card__title">
    <h1><a href="https://jmdonizetti.github.io/pokedex/" target="_blank">Pokedex</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="https://jmdonizetti.github.io/pokedex/" target="_blank">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam dolorem accusantium saepe vero, laudantium ut officiis, est quibusdam perspiciatis ex soluta error maxime ipsam! Reprehenderit adipisci nisi placeat accusantium.
      </a>
    </p>
  </div>
</div>
