<div class="container__big-card">
  <div class="big-card__photo">
    <a href="{{ link }}" target="_blank" rel="noopener noreferrer"><img src="{{ photoCover }}" height="200px" alt=""></a>
  </div>

  <div class="big-card__title">
    <h1><a href="{{ link }}" target="_blank" rel="noopener noreferrer">{{ cardTitle }}</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
        {{ cardDescription }}
      </a>
    </p>
  </div>
</div>
