.container__menu-title{
  color: white;
  opacity: 95%;

}

.container__menu-title > h1{
  margin-top: 0.938rem;
  margin-bottom: 0.938rem;

  font-size: 8.438rem;
  font-family: 'segoe UI';

  display: flex;
  justify-content: center;


}

.container__menu-title > hr{
  margin-top: 1.25rem;
  margin-bottom: 0.313rem;

  margin-left: 30rem;
  margin-right: 30rem;

  border-color: dimgrey;
  opacity: 55%;
}
