.container__small-card{
  width: 31rem;
  margin-bottom: 0.938rem;

  overflow: hidden;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > a > img {
  width: 12.5rem;
  height: 8rem;

  min-width: 12.5rem;
  min-height: 8rem;

  margin-right: 1.25rem;

  transition: .5s ease;
  transition: transform .5s ease;
}

.small-card__photo:hover > a > img{
  transform: scale(1.05);
  transition: .5s ease;

}

.small-card__title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > h1{
  font-size: 1.1rem;
  text-align: start;
}
.small-card__title > h1 > a{
  color: white;
  opacity: 90%;
}

.container__small-card__content{
  margin-top: 0.625rem;
}

.container__small-card__content > hr{
  border-color: dimgrey;
  opacity: 55%;
}
