<div class="container__content">

  <div class="content__cover">
    <img src="{{ photoCover }}" alt="">
  </div>
  <div class="content__title">
    <h1>{{ contentTitle }}</h1>
    <hr />
  </div>
  <div class="content__description">
    <div class="bgblue">
      <div class="card">
        <p> {{ contentDescription }} </p>
      </div>
    </div>

  </div>
  <a [routerLink]="['']">
    <button class="button" data-text="Awesome">
      <span class="actual-text">&nbsp;voltar&nbsp;</span>
      <span aria-hidden="true" class="hover-text">&nbsp;voltar&nbsp;</span>
    </button>
  </a>
</div>