<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="../../../assets/projetos-frontend.png" cardTitle="Projeto em desenvolvimento" cardDescription="Um novo projeto esta a caminho!" link="">
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card photoCover="../../../assets/pokedex.PNG" cardTitle="Projeto realizado para aprimorar os conhecimentos com HTML, CSS, JAVASCRIPT e o uso de API's." link="https://jmdonizetti.github.io/pokedex/">
    </app-small-card>


    <app-small-card photoCover="../../../assets/big-bite-burguer.png" cardTitle="Projeto Ada-santanderCoders-2023 em grupo utilizando HTML, CSS e BOOTSTRAP." link="https://jmdonizetti.github.io/projeto-em-grupo-SantanderCoders-2023-HTML-CSS/login.html">
    </app-small-card>


    <app-small-card photoCover="../../../assets/nlw.png" cardTitle="Projeto construido com HTML e CSS do evento Next Level Week da Rocketseat." link="https://jmdonizetti.github.io/nlw/"></app-small-card>

  </div>
</div>


<!-- second -->

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="../../../assets/projetos-frontend.png" cardTitle="Projeto em desenvolvimento" cardDescription="Um novo projeto esta a caminho!" link="">
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card photoCover="../../../assets/jmdonizetti.github.io_Santander-coders-2023-projetoIndividual_.png" cardTitle="Projeto individual Ada/Santander-coders 2023, utilizando HTML e CSS" link="https://jmdonizetti.github.io/Santander-coders-2023-projetoIndividual/"></app-small-card>


    <app-small-card photoCover="../../../assets/projetos-frontend.png" cardTitle="Projeto em desenvolvimento" link="#">
    </app-small-card>

  </div>
</div>