<div class="container__menu-bar">
  <ul>
    <a href="https://www.linkedin.com/in/joaomarcosrodrigues/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/linkedin.webp" alt="linkedin"></a>
    <li><a href="https://www.linkedin.com/in/joaomarcosrodrigues/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>


    <a href="https://github.com/jmdonizetti" target="_blank" rel="noopener noreferrer"><img src="../../../assets/github.png" alt="github"></a>
    <li><a href="https://github.com/jmdonizetti" target="_blank" rel="noopener noreferrer">Github</a></li>


    <a href="https://www.instagram.com/pai.do.apollo/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/instagram.png" alt=""></a>
    <li><a href="https://www.instagram.com/pai.do.apollo/" target="_blank" rel="noopener noreferrer">Instagram</a></li>

    <a [routerLink]="['content', Id]"><img src="../../../assets/icone-sobre.png" alt="sobre"></a>
    <li><a [routerLink]="['content', Id]" rel="noopener noreferrer">Sobre</a></li>
  </ul>
</div>