<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/joaomarcosrodrigues/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/jmdonizetti" target="_blank" rel="noopener noreferrer">Github</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.instagram.com/pai.do.apollo/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
    <li><span>•</span></li>
    <li><a [routerLink]="['content', Id]" rel="noopener noreferrer">Sobre</a></li>
  </ul>
</div>
